<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
</head>
<body>

  <div class="header
    {% if {{template.name}} == 'list-collections' or {{page_title}} == 'Ladies' or {{page_title}} == 'Gentlemen' or {{template.name}} == 'product'%}
    header--purple
    {% endif %}
    {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
    header--pink
    {% endif %}
    {% if {{page_title}} == 'Locations' %}
    header--tan
    {% endif %}
    {% if {{page_title}} == 'Media' %}
    header--green
    {% endif %}
    {% if {{page_title}} == 'Journal' %}
    header--purple
    {% endif %}
    {% if {{template.name}} == 'cart'%}
    header--white
    {% endif %}"
    id="{{page_title}}">
    {% if {{template.name}} == 'index' or {{page_title}} == 'Contact Us' or {{page_title}} == 'Customer Service' or {{page_title}} == 'Privacy Policy' or {{page_title}} == 'Accessibility'%}
    <div class="header-background">
    </div>
    {% endif %}
    {% if {{template.name}} == 'cart' %}
    <div class="header-background-cart">
    </div>
    {% endif %}
    {% if {{template.name}} == 'list-collections' or {{page_title}} == 'Ladies' or {{page_title}} == 'Gentlemen' or {{template.name}} == 'product'%}
      <div class="header-background-collections">
      </div>
    {% endif %}
    {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
      <div class="header-background-about">
      </div>
    {% endif %}
    {% if {{page_title}} == 'Locations' %}
      <div class="header-background-locations">
      </div>
    {% endif %}
    {% if {{page_title}} == 'Media' %}
      <div class="header-background-media">
      </div>
    {% endif %}
    {% if {{page_title}} == 'Journal' %}
      <div class="header-background-journal">
      </div>
    {% endif %}
    <div class="header-nav-container">
      <div class="header-links-container">
          <button class="header__hamburger-menu-button">
          {{ 'hamburger-menu.png' | asset_url | img_tag: 'Hamburger Menu', 'header__hamburger-menu-icon' }}
          </button>
          {% for link in linklists.main-menu.links %}
          {% if forloop.index == 4 %}
            <div class="header__logo-link-container">
              <a class="header__logo-link" href="/">
                {{ 'selima-logo.png' | asset_url | img_tag: 'Selima Optique', 'header__logo-link-image' }}
              </a>
              <a class="header__logo-link-tablet" href="/">
                {{ 'selima-logo-tablet.png' | asset_url | img_tag: 'Selima Optique', 'header__logo-link-image' }}
              </a>
              <a class="header__logo-link-mobile" href="/">
                {{ 'selima-logo-mobile.png' | asset_url | img_tag: 'Selima Optique', 'header__logo-link-image' }}
              </a>
            </div>
          {% endif %}
          {% if  {{link.title}} == 'Shop Online' %}
            {% if {{page_title}} == 'Ladies' or {{page_title}} == 'Gentlemen' or {{template.name}} == 'product' or {{template.name}} == 'list-collections'%} 
              <span class="header__link--selected header__link--shop"> {{link.title | upcase}}</span>
            {% else %}
              <a class="header__link header__link--shop" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'About' %}
            {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
              <span class="header__link--selected header__link--about">{{link.title | upcase}}</span>
            {% else %}
              <a class="header__link header__link--about" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Locations' %}
            {% if {{page_title}} == 'Locations' %}
              <span class="header__link--selected header__link--locations">{{link.title | upcase}}</span>
            {% else %}
              <a class="header__link header__link--locations" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Media' %}
            {% if {{page_title}} == 'Media' %}
              <span class="header__link--selected header__link--media">{{link.title | upcase}}</span>
            {% else %}
              <a class="header__link header__link--media" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Journal' %}
            {% if {{page_title}} == 'Journal' %}
              <span class="header__link--selected header__link--journal">{{link.title | upcase}}</span>
            {% else %}
              <a class="header__link header__link--journal" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="header__cart-link-container">
          {% if {{template.name}} == 'cart' %}
            <span class="header__cart-link--selected">
                  {{ 'shopping-bag.png' | asset_url | img_tag: 'Shopping Bag', 'header__cart-icon' }}
                  {% if {{cart.item_count}} > 0 %}
                    <span class="header__cart-total--selected">({{ cart.item_count }})</span>
                  {% else %}
                    <span class="header__cart-total--selected"></span>
                  {% endif %}
            </span>
          {% else %}
            <a class="header__cart-link" href="/cart">
                  {{ 'shopping-bag.png' | asset_url | img_tag: 'Shopping Bag', 'header__cart-icon' }}
                  {% if {{cart.item_count}} > 0 %}
                    <span class="header__cart-total">({{ cart.item_count }})</span>
                  {% else %}
                    <span class="header__cart-total"></span>
                  {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="header-links-container-mobile header-links-container-mobile--hidden">
        {% for link in linklists.main-menu.links %}
          {% if  {{link.title}} == 'Shop Online' %}
            {% if {{page_title}} == 'Ladies' or {{page_title}} == 'Gentlemen' or {{template.name}} == 'product' or {{template.name}} == 'list-collections'%} 
              <span class="header__link-mobile--selected">SHOP</span>
            {% else %}
              <a class="header__link-mobile" href="{{ link.url }}">SHOP</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'About' %}
            {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
              <span class="header__link-mobile--selected">{{ link.title | upcase}}</span>
            {% else %}
              <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Locations' %}
            {% if {{page_title}} == 'Locations' %}
              <span class="header__link-mobile--selected">{{ link.title | upcase}}</span>
            {% else %}
              <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Media' %}
            {% if {{page_title}} == 'Media' %}
              <span class="header__link-mobile--selected">{{ link.title | upcase}}</span>
            {% else %}
              <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
          {% if {{link.title}} == 'Journal' %}
            {% if {{page_title}} == 'Journal' %}
              <span class="header__link-mobile--selected">{{ link.title | upcase}}</span>
            {% else %}
              <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="header__cart-summary header__cart-summary--hidden">
      <button class="header__cart-summary-close-button">
        {{ 'close-icon.png' | asset_url | img_tag: 'Close', 'header__cart-summary-close-icon' }}
      </button>
      <h4 class="header__cart-summary-title"> Your Cart</h4>
      <div class="header__cart-summary-item-list-container">
      </div>
      <div class="header__cart-summary-footer-container">
        <span class="header__cart-summary-subtotal">Subtotal: $0 </span>
        <a class="header__cart-summary-view-cart-link" href="/cart">View Cart</a>
      </div>
  </div>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
  <div class="mobile-nav-modal-overlay mobile-nav-modal-overlay--hidden">
  </div>
  <main id="main" role="main">
      {{ content_for_layout }}
  </main>
  <div class="footer
  {% if {{template.name}} == 'list-collections' or {{page_title}} == 'Ladies' or {{page_title}} == 'Gentlemen' or {{template.name}} == 'product'%}
    footer--purple
    {% endif %}
    {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
    footer--pink
    {% endif %}
    {% if {{page_title}} == 'Locations' %}
    footer--tan
    {% endif %}
    {% if {{page_title}} == 'Media' %}
    footer--green
    {% endif %}
    {% if {{page_title}} == 'Journal' %}
    footer--purple
    {% endif %}
    {% if {{template.name}} == 'cart'%}
    footer--white
    {% endif %}">
    <div class="footer__free-shipping-container">
        <span class="footer__free-shipping-message">FREE SHIPPING IN THE US</span>
    </div>
    <div class="footer__link-container">
      {% for link in linklists.footer.links %}
        {% assign link_title = link.title %}
        {% if page_title == link_title %}
          <span class="footer__link--selected">{{ link.title }}</span>
        {% else %}
          <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="footer__social-media-container">
      <a class="footer__social-media-link" href="https://www.facebook.com/SelimaOptique" target="_blank" rel="noopener noreferrer">
        {{ 'facebook.svg' | asset_url | img_tag: 'Facebook Logo', 'footer__social-media-icon' }}
      </a>
      <a class="footer__social-media-link" href="https://twitter.com/SelimaOptique?s=20" target="_blank" rel="noopener noreferrer">
        {{ 'twitter.svg' | asset_url | img_tag: 'Twitter Logo', 'footer__social-media-icon' }}
      </a>
      <a class="footer__social-media-link" href="https://www.instagram.com/selimaoptique/" target="_blank" rel="noopener noreferrer">
        {{ 'instagram.svg' | asset_url | img_tag: 'Instagram Logo', 'footer__social-media-icon' }}
      </a>
    </div>
  </div>
  {{ 'application.js' | asset_url | script_tag }}
</body>
</html>
