<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
</head>
<body>

  <div class="header
    {% if {{template.name}} == 'list-collections' or {{template.name}} == 'collection' or {{template.name}} == 'product'%}
    header--purple
    {% endif %}
    {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
    header--pink
    {% endif %}
    {% if {{template.name}} == 'cart'%}
    header--white
    {% endif %}"
    id="{{page_title}}">
    {% if {{template.name}} == 'index' %}
    <div class="header-background">
    </div>
    {% endif %}
    {% if {{template.name}} == 'cart' %}
    <div class="header-background-cart">
    </div>
    {% endif %}
    {% if {{template.name}} == 'list-collections' or {{template.name}} == 'collection' or {{template.name}} == 'product'%}
      <div class="header-background-collections">
      </div>
    {% endif %}
    {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
      <div class="header-background-about">
      </div>
    {% endif %}
    <div class="header-nav-container">
      <div class="header-links-container">
          <button class="header__hamburger-menu-button">
          {{ 'hamburger-menu.png' | asset_url | img_tag: 'Hamburger Menu', 'header__hamburger-menu-icon' }}
          </button>
          {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if forloop.index == 4 %}
            <div class="header__logo-link-container">
              <a class="header__logo-link" href="/">
                {{ 'selima-logo.png' | asset_url | img_tag: 'Selima Optique', 'header__logo-link-image' }}
              </a>
              <a class="header__logo-link-mobile" href="/">
                {{ 'selima-logo-mobile.png' | asset_url | img_tag: 'Selima Optique', 'header__logo-link-image' }}
              </a>
            </div>
          {% endif %}
          {% if linklists[child_list_handle].links != blank %}
            <a class="header__link" href="{{ link.url }}">{{ link.title | upcase }}</a>
            [{% for childlink in linklists[child_list_handle].links %}
              <a class="header__link" href="{{ childlink.url }}">{{ childlink.title | escape, upcase }}</a>
            {% endfor %}]
          {% else %}
            {% if  {{link.title}} == 'Shop Online' %}
              {% if {{template.name}} == 'collection' or {{template.name}} == 'product' or {{template.name}} == 'list-collections'%} 
                <span class="header__link--selected"> {{link.title | upcase}}</span>
              {% else %}
                <a class="header__link" href="{{ link.url }}">{{ link.title | upcase}}</a>
              {% endif %}
            {% else %}
              {% if {{link.title}} == 'About' %}
                {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
                  <span class="header__link--selected">ABOUT</span>
                {% else %}
                  <a class="header__link" href="{{ link.url }}">{{ link.title | upcase}}</a>
                {% endif %}
              {% else %}
                <a class="header__link" href="{{ link.url }}">{{ link.title | upcase}}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="header__cart-button-container">
          <button class="header__cart-button">
                {{ 'shopping-bag.png' | asset_url | img_tag: 'Shopping Bag', 'header__cart-icon' }}
                {% if {{cart.item_count}} > 0 %}
                  <span class="header__cart-total">({{ cart.item_count }})</span>
                {% else %}
                  <span class="header__cart-total"></span>
                {% endif %}
          </button>
        </div>
      </div>
      <div class="header-links-container-mobile header-links-container-mobile--hidden">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase }}</a>
            [{% for childlink in linklists[child_list_handle].links %}
              <a class="header__link-mobile" href="{{ childlink.url }}">{{ childlink.title | escape, upcase }}</a>
            {% endfor %}]
          {% else %}
            {% if  {{link.title}} == 'Shop Online' %}
              {% if {{template.name}} == 'collection' or {{template.name}} == 'product' or {{template.name}} == 'list-collections'%} 
                <span class="header__link-mobile--selected">SHOP</span>
              {% else %}
                <a class="header__link-mobile" href="{{ link.url }}">SHOP</a>
              {% endif %}
            {% else %}
              {% if {{link.title}} == 'About' %}
                {% if {{page_title}} == 'About Selima Salaun' or {{page_title}} == 'About Selima Optique' or {{page_title}} == 'About Glasses Care' %}
                  <span class="header__link-mobile--selected">ABOUT</span>
                {% else %}
                  <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
                {% endif %}
              {% else %}
                <a class="header__link-mobile" href="{{ link.url }}">{{ link.title | upcase}}</a>
              {% endif %}
            {% endif %}
          {% endif%}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="header__cart-summary header__cart-summary--hidden">
      <button class="header__cart-summary-close-button">
        {{ 'close-icon.png' | asset_url | img_tag: 'Close', 'header__cart-summary-close-icon' }}
      </button>
      <h4 class="header__cart-summary-title"> Your Cart</h4>
      <div class="header__cart-summary-item-list-container">
      </div>
      <div class="header__cart-summary-footer-container">
        <span class="header__cart-summary-subtotal">Subtotal: $0 </span>
        <a class="header__cart-summary-view-cart-link" href="/cart">View Cart</a>
      </div>
  </div>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
  <div class="mobile-nav-modal-overlay mobile-nav-modal-overlay--hidden">
  </div>
  <main id="main" role="main">
      {{ content_for_layout }}
  </main>
  {{ 'application.js' | asset_url | script_tag }}
</body>
</html>
