<div class="journalpage">
  {% paginate blog.articles by 5 %}
  <h1 class="journalpage__mobile-title">{{ blog.title }}</h1>
  {% for article in blog.articles %}
    <div>
      <h2 class="journalpage__article-title">{{ article.title }}</h2>
      {{ article.author }} @ {{ article.published_at }}
      <div class="journalpage__article">
        {{ article.content  }}
      </div>
    </div>
  {% endfor %}

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}

  {% endpaginate %}
  {{ 'journal.js' | asset_url | script_tag }}
</div>