<div class="journalpage">
  {% paginate blog.articles by 2 %}
  <h1 class="journalpage__mobile-title">{{ blog.title | upcase }}</h1>
  {% for article in blog.articles %}
    <div>
      <h4 class="journalpage__article-published-date">
        {{ article.published_at | date: "%b %d, %Y"}}
      </h4>
      <h2 class="journalpage__article-title">{{ article.title }}</h2>
      <div class="journalpage__article">
        {{ article.content  }}
      </div>
    </div>
  {% endfor %}

  {% if paginate.pages > 1 %}
    <div class="journalpage__pagination-container">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}

  {% endpaginate %}
  {{ 'journal.js' | asset_url | script_tag }}
</div>