<div class="cartpage">
  <h1>YOUR SHOPPING CART</h1>
  <div class="cartpage__container">
    <div class="cartpage__headings-container">
      <span class="cartpage__product-header">Product</span>
      <span class="cartpage__price-header">Price</span>
    </div>
    {% for item in cart.items %}
      <div class="cartpage__item-container">
        <div class="cartpage__item-image-title-container">
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="cartpage__item-image">
          </a>
          <div class="cartpage__item-titles">
            <h6 class="cartpage__item-product-title">{{item.product.title}}</h6>
            <span class="cartpage__item-variant-title">{{item.variant.title}}</span>
          </div>
        </div>
        <div class="cartpage__item-price-container">
          <span class="cartpage__item-price">{{ item.price | money }}</span>
        </div>
        <div class="cartpage__item-remove-button-container">
          <button class="cartpage__item-remove-button">
            Remove
          </button>
        </div>
        </div>
      </div>
    {% endfor%}
    <div class="cartpage__footer-container">
      <div class="cartpage__subtotal-container">
        <h4 class="cartpage__subtotal-label">Subtotal:</h4>
        <span class="cartpage__subtotal-amound">{{ cart.total_price | money }}</span>
      </div>
      <div class="cartpage__tax-container">
        <h4 class="cartpage__tax-label">Tax (NY residents only):</h4>
        <span class="cartpage__tax-amound">{{ cart.total_price | times: 0.08875 | money}}</span>
      </div>
      <div class="cartpage__tax-container">
        <h3 class="cartpage__tax-label">Total:</h3>
        <span class="cartpage__tax-amound">{{ cart.total_price | times: 1.08875 | money}}</span>
      </div>
      <a href="/checkout">Proceed to Checkout</a>
    </div>
  </div>
  
</div>
{% comment %} {% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %} {% endcomment %}
