{% if {{collection.handle}} == 'media' %}
  <div class="mediapage__modal-overlay mediapage__modal-overlay--hidden">
    <div class="mediapage__modal-close-container">
      <button class="mediapage__modal-close-button">{{ 'close-icon.png' | asset_url | img_tag: 'Close Modal', 'mediapage__modal-close-button-icon' }}</button>
    </div>
    <div class="mediapage__modal-body-container">
      <img class="mediapage__modal-image" src="https://cdn.shopify.com/s/files/1/0260/1789/0397/products/2435_large.jpg?v=1604780290"/>
      <div class="mediapage__modal-description-container">
        <h4 class="mediapage__modal-title"></h4>
        <p class="mediapage__modal-text">
        </p>
        <div class="mediapage__modal-product-container">
          <h6 class="mediapage__modal-product-container-title">In this photo...</h6>
          <div class="mediapage__modal-product-image-description-container">
            <img class="mediapage__modal-product-image" src=""/>
            <div class="mediapage__modal-product-description-container">
              <h6 class="mediapage__modal-product-title"></h6>
              <h6 class="mediapage__modal-product-variant-title"></h6>
              <h6 class="mediapage__modal-product-price"></h6>
              <a class="mediapage__modal-product-link" href="">See More Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mediapage__modal-footer-container">
      <button class="mediapage__modal-previous-media-button">{{ 'arrow-white-left.png' | asset_url | img_tag: 'Previous Media Arrow', 'mediapage__modal-previous-media-icon' }}
      </button>
      <div class="mediapage__modal-footer-counter-container">
        <span class="mediapage__modal-footer-counter">1/56</span>
      </div>
      <button class="mediapage__modal-next-media-button">{{ 'arrow-white-right.png' | asset_url | img_tag: 'Next Media Arrow', 'mediapage__modal-next-media-icon' }}
      </button>
    </div>
  </div>
  <div class="mediapage__modal-overlay-mobile-expanded mediapage__modal-overlay-mobile-expanded--hidden">
    <div class="mediapage__modal-overlay-mobile-expanded-close-container">
            <button class="mediapage__modal-expanded-close-button">{{ 'close-icon.png' | asset_url | img_tag: 'Close Modal', 'mediapage__modal-expanded-close-button-icon' }}</button>
    </div>
    <div class="mediapage__modal-overlay-mobile-expanded-image-container">
      <img class="mediapage__modal-overlay-mobile-expanded-image" src=""/>
    </div>
  </div>
  <div class="mediapage__modal-overlay-mobile mediapage__modal-overlay-mobile--hidden">
    <div class="mediapage__modal-mobile-back-container">
      {{ 'arrow-left.png' | asset_url | img_tag: 'Back', 'mediapage__modal-mobile-back-button-icon' }}
      <button class="mediapage__modal-mobile-back-button">Back</button>
    </div>
    <div class="mediapage__modal-mobile-image-container">
      <img class="mediapage__modal-mobile-image" src=""/>
      <div class="mediapage__modal-mobile-navigation-container">
        <button class="mediapage__modal-mobile-previous-media-button">{{ 'arrow-white-left.png' | asset_url | img_tag: 'Previous Media Arrow', 'mediapage__modal-mobile-previous-media-icon' }}
        </button>
        <div class="mediapage__modal-mobile-footer-counter-container">
          <span class="mediapage__modal-mobile-footer-counter"></span>
        </div>
        <button class="mediapage__modal-mobile-next-media-button">{{ 'arrow-white-right.png' | asset_url | img_tag: 'Next Media Arrow', 'mediapage__modal-mobile-next-media-icon' }}
        </button>
      </div>
    </div>
    <div class="mediapage__modal-mobile-description-container">
      <h4 class="mediapage__modal-mobile-title"></h4>
      <p class="mediapage__modal-mobile-text">
      </p>
      <div class="mediapage__modal-mobile-product-container">
        <h6 class="mediapage__modal-mobile-product-container-title">In this photo...</h6>
        <div class="mediapage__modal-mobile-product-image-description-container">
          <img class="mediapage__modal-mobile-product-image" src=""/>
          <div class="mediapage__modal-mobile-product-description-container">
            <h6 class="mediapage__modal-mobile-product-title"></h6>
            <h6 class="mediapage__modal-mobile-product-variant-title"></h6>
            <h6 class="mediapage__modal-mobile-product-price"></h6>
          </div>
        </div>
        <a class="mediapage__modal-mobile-product-link" href="">View Glasses</a>
      </div>
    </div>
  </div>
  <div class="mediapage">
    <h1 class="mediapage__mobile-title">MEDIA</h1>
    {% for product in collection.products %}
      {% for image in product.images %}
        {% unless image.attached_to_variant?%}
          {%if image.width > 100 %}
            <div class="mediapage__image-container">
              <button class="mediapage__image-button" id="mediaPageImageButton-{{image.alt}}-{{product.handle}}">
              <img class="mediapage__image" id="mediaPageImage-{{image.alt}}-{{product.handle}}" src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}">
              </button>
            </div>
          {% endif %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
    {{ 'media.js' | asset_url | script_tag }}
  </div>
{% else %}
  <div class="collectionpage">
    <div class="collectionpage__header">
          <div class="collectionpage__header-title-container">
            {% if {{collection.title}} == 'Ladies' %}
              <span class="collectionpage__header-title--highlighted">Ladies</span>
            {% else %}
            <a class="collectionpage__header-title"
              href="{{collections['ladies'].url}}">Ladies</a>
            {% endif %}
            {% if {{collection.title}} == 'Gentlemen' %}
              <span class="collectionpage__header-title--highlighted">Gentlemen</span>
            {% else %}
            <a class="collectionpage__header-title"
              href="{{collections['gentlemen'].url}}">Gentlemen</a>
            {% endif %}
          </div>
    </div>
    <div class="collectionpage__mobile-title-container">
      <h1 class="collectionpage__mobile-title">SHOP ONLINE</h1>
    </div>
    <div class="collectionpage__mobile-header">
        <ul class="collectionpage__mobile-collection-options">
          <li class="collectionpage__mobile-collection-option {% if {{collection.title}} == 'Ladies' %} collectionpage__mobile-collection-option--left-selected {% endif %}">
            {% if {{collection.title}} == 'Ladies' %}
              <span class="collectionpage__mobile-collection-title--selected">Ladies</span>
            {% else %}
            <a class="collectionpage__mobile-collection-title collectionpage__mobile-collection-title--left" href="{{collections['ladies'].url}}">Ladies</a>
            {% endif %}
          </li>
          <li class="collectionpage__mobile-collection-option {% if {{collection.title}} == 'Gentlemen' %} collectionpage__mobile-collection-option--right-selected {% endif %}">
            {% if {{collection.title}} == 'Gentlemen' %}
              <span class="collectionpage__mobile-collection-title--selected">Gentlemen</span>
            {% else %}
            <a class="collectionpage__mobile-collection-title collectionpage__mobile-collection-title--right" href="{{collections['gentlemen'].url}}">Gentlemen</a>
            {% endif %}
          </li>
        </ul>
    </div>
    <div class="collectionpage__flower-container">
        {{ 'flower-line-1.png' | asset_url | img_tag: 'Flowers 1', 'collectionpage__flower-one-icon' }}
        {{ 'flower-line-2.png' | asset_url | img_tag: 'Flowers 2', 'collectionpage__flower-two-icon' }}
    </div>
    <table class="collectionpage__product-table">
    {% tablerow product in collection.products cols:2 %}
      <div class="collectionpage__product-tile">
        {% comment%}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        This may be useful later, not right now.
        {% endcomment%}
        <a href="{{ product.url | within: collection }}">
          <img class="collectionpage__product-tile-image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <a class="collectionpage__product-tile-title-container" href="{{ product.url | within: collection }}">
          <span class="collectionpage__product-tile-title" >{{ product.title | upcase }}</span>
        </a>
      </div>
    {% endtablerow%}
    </table>
    <div class="collectionpage__mobile-border-container">
    </div>
    <div class="collectionpage__free-shipping-container">
        <span class="collectionpage__free-shipping-message">FREE SHIPPING IN THE US</span>
    </div>
  </div>
{% endif %}
