<div class="collectionpage">
    <div class="collectionpage__tile">
      <h1 class="collectionpage__tile-title">
        {{collections['ladies'].title }}
      </h1>
      {% if collections['ladies'].image %}
        <img class="collectionpage__tile-image" src="{{collections['ladies'].image | img_url: 'large' }}"/>
        {{ 'selima-alone.png' | asset_url | img_tag: 'Ladies Selima', 'collectionpage__tile-image-accent' }}
      {% endif %}
    </div>
    <div class="collectionpage__tile">
      <h1 class="collectionpage__tile-title">
        {{collections['gentlemen'].title }}
      </h1>
      {% if collections['ladies'].image %}
        <img class="collectionpage__tile-image" src="{{collections['gentlemen'].image | img_url: 'large' }}"/>
        {{ 'boy-hoop.png' | asset_url | img_tag: 'Gentlemen Boy Hoop', 'collectionpage__tile-image-accent' }}
      {% endif %}
    </div>


  {% comment %}
  {% paginate collection.products by 2 %}
    <h1>{{ collection.title }}</h1>
    {% for product in collection.products %}
      <div>
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {{ product.price | money }}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        <a href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>
    {% else %}
      <p>no matches</p>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  {% endpaginate %}
  {% endcomment %}
</div>
