<div class="homepage">
  <div class="homepage__image-carousel-container">
    {{ 'home-frame.png' | asset_url | img_tag: 'HomePage Carousel', 'homepage__carousel-photo-background' }}
    <div class="homepage__image-carousel">
      <div class="homepage__image-mask">
        {{ 'carousel-1.jpg' | asset_url | img_tag: 'HomePage Carousel Image 1', 'homepage__carousel-photo homepage__carousel-photo--initial' }}
        {{ 'carousel-2.jpg' | asset_url | img_tag: 'HomePage Carousel Image 2', 'homepage__carousel-photo' }}
        {{ 'carousel-3.jpg' | asset_url | img_tag: 'HomePage Carousel Image 3', 'homepage__carousel-photo' }}
        {{ 'carousel-4.jpg' | asset_url | img_tag: 'HomePage Carousel Image 4', 'homepage__carousel-photo' }}
        {{ 'carousel-5.jpg' | asset_url | img_tag: 'HomePage Carousel Image 5', 'homepage__carousel-photo' }}
        {{ 'carousel-6.jpg' | asset_url | img_tag: 'HomePage Carousel Image 6', 'homepage__carousel-photo' }}
        {{ 'carousel-7.jpg' | asset_url | img_tag: 'HomePage Carousel Image 7', 'homepage__carousel-photo' }}
      </div>
      <button class="homepage__previous-button"/>
      <button class="homepage__next-button"/>
    </div>
  </div>
{% comment %}
{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %}
{% endcomment %}
</div>
