<div class="aboutpage">
    <h1 class="aboutpage__title">ABOUT</h1>
    <div class="aboutpage__header">
          <div class="aboutpage__header-title-container">
            {% if {{page_title}} == 'About Selima Salaun' %}
              <span class="aboutpage__header-title--highlighted">Selima Salaun</span>
            {% else %}
            <a class="aboutpage__header-title"
              href="/pages/about-selima-salaun">Selima Salaun</a>
            {% endif %}
            {% if {{page_title}} == 'About Selima Optique' %}
              <span class="collectionpage__header-title--highlighted">Selima Optique</span>
            {% else %}
            <a class="aboutpage__header-title"
              href="/pages/about-selima-optique">Selima Optique</a>
            {% endif %}
            {% if {{page_title}} == 'About Glasses Care' %}
              <span class="collectionpage__header-title--highlighted">Glasses Care Guide</span>
            {% else %}
            <a class="aboutpage__header-title"
              href="/pages/about-glasses-care">Glasses Care Guide</a>
            {% endif %}
          </div>
    </div>
    <div class="aboutpage__mobile-header">
        <ul class="aboutpage__mobile-collection-options">
          <li class="aboutpage__mobile-collection-option {% if {{page_title}} == 'About Selima Salaun' %} aboutpage__mobile-collection-option--left-selected {% endif %}">
            {% if {{page_title}} == 'About Selima Salaun' %}
              <span class="aboutpage__mobile-collection-title--selected">Selima Saluan</span>
            {% else %}
            <a class="aboutpage__mobile-collection-title aboutpage__mobile-collection-title--left" href="/pages/about-selima-salaun">Selima Salaun</a>
            {% endif %}
          </li>
          <li class="aboutpage__mobile-collection-option {% if {{page_title}} == 'About Selima Optique' %} aboutpage__mobile-collection-option--center-selected {% endif %}">
            {% if {{page_title}} == 'About Selima Optique' %}
              <span class="aboutpage__mobile-collection-title--selected">Selima Optique</span>
            {% else %}
            <a class="aboutpage__mobile-collection-title aboutpage__mobile-collection-title--center" href="/pages/about-selima-optique">Selima Optique</a>
            {% endif %}
          </li>
          <li class="aboutpage__mobile-collection-option {% if {{page_title}} == 'About Glasses Care' %} aboutpage__mobile-collection-option--right-selected {% endif %}">
            {% if {{page_title}} == 'About Glasses Care' %}
              <span class="aboutpage__mobile-collection-title--selected">Glasses Care</span>
            {% else %}
            <a class="aboutpage__mobile-collection-title aboutpage__mobile-collection-title--right" href="/pages/about-glasses-care">Glasses Care</a>
            {% endif %}
          </li>
        </ul>
    </div>
    <div class="aboutpage__glasses-care-container">
      <div class="aboutpage__glasses-care-image-container">
        {{ 'boy-hoop.png' | asset_url | img_tag: 'Gentlemen Boy Hoop', 'aboutpage__glasses-care-image' }}
      </div>
      <div class="aboutpage__glasses-care-text-container">
        <h2 class="aboutpage__glasses-care-title">LENS CARE</h2>
        <p class="aboutpage__glasses-care-text">
        Your glasses open up your eyes to the world... so take care of them! Not sure how? We've got a few simple guidelines you can follow to care for your handcrafted frames and lenses.
        </p>
        <h2 class="aboutpage__glasses-care-title"> BUFFALO HORN FRAMES </h2>
        <p class="aboutpage__glasses-care-text">
        Because of its natural material, buffalo horn frames require special care. With every buffalo horn frame purchase from Selima Optique, we provide you with a microfiber cleaning cloth and a container of polishing cream. Every three months, buff a small amount of the polishing cream into your frame with the microfiber cleaning cloth, paying special attention to the temples and frame edges. Avoid using water or chemical cleaners on your frames. Should your frame come into contact with lens cleaner, remove it immediately with the microfiber cleaning cloth. As with any other frame, avoid leaving your eyewear in extremely hot, humid climates for extended periods of time.<br/><br/>Because we care about your frames as much as you do, we will service them professionally once a year, with our compliments. This includes: frame adjustment, polishing and inspection for fractures.
        </p>
        <h2 class="aboutpage__glasses-care-title">CELLULOSE ACETATE (PLASTIC) FRAMES</h2>
        <p class="aboutpage__glasses-care-text">
        Following these instructions can help your frames last years longer than they normally would.<br/><br/>Over time, oxidation — evidenced by a cloudy, white build-up — may occur on your cellulose acetate frames. This reduces the beauty of your frame and can also cause the plastic to become more brittle. You can delay the onset of oxidation by periodically cleaning your frame with warm, soapy water. Avoid soaps that are scented or contain dyes. After cleaning, make sure to completely dry your frame. Under no circumstances should you clean your frame with chemical cleaners. If your frame begins to lose its glossy, luminous finish, please contact Selima Optique about our frame buffing services.<br/><br/>It's also common for cellulose acetate frames to become slightly stretched or loose over time. The simplest way to help your glasses keep their shape is to avoid placing them on top of your head and to use two hands to take your glasses on and off. Should your frames become loose, bring them to your nearest Selima Optique for an adjustment. Never adjust your frames on your own!
        </p>
        <h2 class="aboutpage__glasses-care-title">CARING FOR YOUR LENSES</h2>
        <p class="aboutpage__glasses-care-text">
        Care for your lenses as you care for your eyes! The simplest way to maintain your lenses is to place frames in a case with the lenses towards a soft, non-abrasive material. If your lenses are dirty, clean them with lens cleaning solution and a microfiber cleaning cloth. If you do not have lens cleaning solution, gently rub your lenses with warm, soapy water and completely dry them with your microfiber cleaning cloth. If you don't have a microfiber cleaning cloth handy, clean your lenses with any 100% cotton material. Never use paper products (paper towels, tissues, etc.) on your prescription lenses. If your cleaning cloth is dirty, simply wash and dry it with your regular laundry... but do not use fabric softener.<br/><br/>That should cover almost everything! If you have any additional questions about your frames or lenses purchased at Selima Optique, let us know at: <a class="aboutpage__glasses-care-link" href="mailto:info@selimaoptique.com">info@selimaoptique.com</a>
        </p>
      </div>
    </div>
    <div class="aboutpage__mobile-border-container">
    </div>
</div>