<div class="locationspage">
    <div class="locationspage__locations-container">
        <div class="locationspage__location-row">
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">SOHO</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://goo.gl/maps/17kzF7gCcnUtg1kL7">59 Wooster Street <br/> New York, NY 10012</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:selimasoho@selimaoptique.com" >selimasoho@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:1-212-343-9490" class="locationspage__phone">1.212.343.9490<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-soho.png' | asset_url | img_tag: 'Soho Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">Our flagship SoHo location, opened in 1993, continues to be the epicenter of downtown eyewear. At our Wooster Street boutique, we don’t follow eyewear trends. We define them! Call ahead to schedule an appointment with our optometrist and peruse the finest collection of new and vintage eyewear while you wait. As our first shop, a stop here just might earn a special bisous on each cheek!</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Monday-Saturday:</span>
                    <span class="locationspage__hours-text">11:00am-8:00pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Sunday:</span>
                    <span class="locationspage__hours-text">12:00pm-7:00pm</span>
                </div>
                <div class="locationspage__optometrist-container">
                    <span class="locationspage__optometrist-text">Optometrist available on Fridays by appointment</span>
                </div>
            </div>
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">NOHO</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://goo.gl/maps/EP3iaM8e2snoQLZN8">7 Bond Street <br/> New York, NY 10012</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:bond07@selimaoptique.com" >bond07@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:1-212-677-8487" class="locationspage__phone">1.212.677.8487<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-noho.png' | asset_url | img_tag: 'Noho Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">Since opening in 1997, Bond 07 by Selima has been the best-kept secret of stylists and fashionistas alike. Immaculate vintage and contemporary clothing, in addition to out-of-the-ordinary accessories and eyewear, are chosen by Selima and her team of style experts to outfit you from head to toe. Don’t forget to visit the milliner downstairs for custom hats!</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Monday-Saturday:</span>
                    <span class="locationspage__hours-text">11:00am-7:00pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Sunday:</span>
                    <span class="locationspage__hours-text">12:00pm-6:00pm</span>
                </div>
            </div>
        </div>
        <div class="locationspage__location-row">
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">WEST VILLAGE</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://g.page/selima-optique-west-village?share">9 Christopher Street <br/> New York, NY 10014</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:WestVillage@selimaoptique.com">WestVillage@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:1-212-352-1640" class="locationspage__phone">1.212.352.1640<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-west-village.png' | asset_url | img_tag: 'West Village Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">Originally established in 2005, our West Village shop reopened in 2007 as Sucre, a clothing and accessories boutique — a collaboration between Selima Salaun and New York fashion mainstay Candace Mohr. Cutting-edge independent fashion, accessories, and eyewear have been hand-chosen to put the finishing touch on any closet!</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Monday-Wednesday:</span>
                    <span class="locationspage__hours-text">11:00am-7:00pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Thursday-Saturday:</span>
                    <span class="locationspage__hours-text">11:00am-8:00pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Sunday:</span>
                    <span class="locationspage__hours-text">12:00pm-7:00pm</span>
                </div>
            </div>
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">MADISON</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://goo.gl/maps/EP3iaM8e2snoQLZN8">899 Madison Avenue <br/> New York, NY 10021</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:madisonstore@selimaoptique.com">madisonstore@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:1-212-988-6690" class="locationspage__phone">1.212.988.6690<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-madison.png' | asset_url | img_tag: 'Noho Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">Nestled in the heart of the Upper East Side, our Madison Avenue boutique puts a new twist on classic Uptown glamour. Since opening in 2000, our shop remains the destination for those in search of the latest eyewear fashion coupled with the finest quality eye care. Why not drop by after a promenade in the park and have a look?</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Monday-Saturday:</span>
                    <span class="locationspage__hours-text">10:30am-7:00pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Sunday:</span>
                    <span class="locationspage__hours-text">12:00pm-6:00pm</span>
                </div>
            </div>
        </div>
        <div class="locationspage__location-row">
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">SANTA MONICA</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://goo.gl/maps/cCSB3zp1yoFpQSGm6">Selima et Benjamin <br/> 225 26th Street, #24 <br/> Santa Monica, CA<br/>90402</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:S-et-B@selimaoptique.com" >S-et-B@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:1-310-260-0160" class="locationspage__phone">1.310.260.0160<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-santa-monica.png' | asset_url | img_tag: 'Santa Monica Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">On the West Coast? We’ve got your look! Stop by our Los Angeles outpost Selima et Benjamin for an astonishing assortment of eyewear from current and vintage designers. Selima collaborates with Benjamin Montoya to create a selection of the very finest eyewear collections available... just for you! C’est magnifique!</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Monday-Saturday:</span>
                    <span class="locationspage__hours-text">10:00am-6:00pm</span>
                </div>
            </div>
            <div class="locationspage__location-container">
                <div class="locationspage__location-header-container">
                    <div class="locationspage__title-container">
                        <h2 class="locationspage__title">PARIS PALACE <br/> DES VOSGES</h2>
                        <div class="locationspage__address-container">
                            {{ 'locations-pin.png' | asset_url | img_tag: 'Map Pin', 'locationspage__map-pin' }}
                            <a class="locationspage__address-link" href="https://goo.gl/maps/kmbsckcjx9qvGCL67">14 Rue de Birague  <br/> 75004 Paris, France</a>
                        </div>
                        <div class="locationspage__contact-container">
                            <div class="locationspage__email-container">
                                <span class="locationspage__email-label">Contact:</span>
                                <a class="locationspage__email" href="mailto:paris@selimaoptique.com" >paris@selimaoptique.com<a>
                            </div>
                            <div class="locationspage__phone-container">
                                <span class="locationspage__phone-label">Phone:</span>
                                <a class="locationspage__phone" href="tel:33-1-4763-2339" class="locationspage__phone">33.1.4763.2339<a>
                            </div>
                        </div>
                    </div>
                    <div class="locationspage__image-container">
                        {{ 'locations-paris.png' | asset_url | img_tag: 'Paris Location', 'locationspage__image' }}
                    </div>
                </div>
                <div class="locationspage__description-container">
                    <p class="locationspage__description">Paris, je t’aime! Our boutique opened in 2007at the gate of Place Des Vosges. Since then, it’s become a mainstay for those in search of the latest trends in European eyewear, archival Selima Optique frames and rare, vintage pieces.</p>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Tuesday-Saturday:</span>
                    <span class="locationspage__hours-text">11:00am-7:30pm</span>
                </div>
                <div class="locationspage__hours-container">
                    <span class="locationspage__hours-label">Note:</span>
                    <span class="locationspage__hours-text">We are open during lunch hours, but closed from 2 to 3pm (and 2 to 4:30 on Thursday!)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="locationspage__stockist-card">
        <div class="locationspage__stockist-text-container">
            <h3 class="locationspage__stockist-title">FIND A STOCKIST NEAR YOU</h3>
            <span class="locationspage__stockist-text">Contact us to learn more about our inventory and what’s to come!</span>
            <a class="locationspage__stockist-mail-link" href="mailto:info@selimaoptique.com">Send a Message</a>
        </div>
        <div class="locationspage__stockist-image-container">
            {{ 'starry-night.png' | asset_url | img_tag: 'Starry Night', 'locationspage__stockist-image' }}
        </div>
    </div>
</div>